{% extends 'base.html' %}
{% load static %}
	
{% block content %}
<div class="container " style="margin-top: 100px;">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center" style="padding-right: 5%; padding-left: 10%;">
            
            <a href="{% url 'registros' %}" ><img src="{% static 'img/humedad_temperatura.png' %}" style="width: 100%;"></a>
        </div>
        <div class="col-md-6 text-center" style="padding-right: 10%; padding-left: 5%;">
            <a href="{% url 'lista_actas' %}" ><img src="{% static 'img/actas_recepcion.png' %}" style="width: 100%;"></a>
        </div>
    </div>
    <br><br>
</div>
{% endblock %}
