{% extends 'base.html' %}
{% load static %}
	
{% block content %}
<div class="container py-5" style="border-radius: 20px; background-color: #f9f9f9; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); margin-top: 50px;">
    <h1 class="text-center mb-4" style="font-weight: 600;">Filtrar Registros de Humedad y Temperatura</h1>

    <form method="get" class="form-inline justify-content-center mb-5 p-4" style="background-color: #ffffff; border-radius: 20px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);">
        <div class="form-group mx-3">
            <label for="fecha_inicio" class="mr-2 font-weight-bold">Fecha Inicio:</label>
            <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control" value="{{ fecha_inicio }}">
        </div>
        <div class="form-group mx-3">
            <label for="fecha_fin" class="mr-2 font-weight-bold">Fecha Fin:</label>
            <input type="date" id="fecha_fin" name="fecha_fin" class="form-control" value="{{ fecha_fin }}">
        </div>
        <button type="submit" class="btn btn-primary btn-lg" style="border-radius: 30px; padding: 10px 20px;">Filtrar</button>
    </form>
    
    <div class="mt-4">
        <h3 class="text-center font-weight-bold">Registros de Humedad</h3>
        <div class="bg-white p-3 rounded" style="box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);">
            {{ graficohumedad | safe }}
        </div>
    </div>
    <div class="mt-5">
        <h3 class="text-center font-weight-bold">Registros de Temperatura</h3>
        <div class="bg-white p-3 rounded" style="box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);">
            {{ graficotemperatura | safe }}
        </div>
    </div>
</div>

<div class="container text-center mt-5">
    <a href="{% url 'home' %}">
        <img src="{% static 'img/volver_boton.png' %}" alt="Volver" style="width: 96px; transition: transform 0.3s;">
    </a>
</div>
{% endblock %}
